body { margin: 0; overflow: hidden; }

#youtubePlayer {
        position: absolute;
        top: 120px;
        right: 10px;
        display: none;
        z-index: 1;
    }
    #description {
        position: absolute;
        top: 385px; /* Just below the YouTube player */
        right: 10px;
        width: 420px;

        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: 'Noto Sans', Arial, sans-serif;
        z-index: 2;
        display: none;
    }

    #descriptionTitle {
        background-color: rgba(255, 255, 255, 0.2); /* 반투명 배경 */
        padding: 10px;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
            border-left: 2px solid #fff; /* 좌측 하이라이트 */
            border-bottom: 3px solid #777777; /* 하단 그림자 */
            border-right: 3px solid #777; /* 우측 그림자 */
        font-weight: bold;
        font-size: 20px;
        color: #fff; /* 텍스트 색상 */
    }
    
    #descriptionBody {
        background-color: rgba(255, 255, 255, 0.1); /* 더 연한 반투명 배경 */
        padding: 10px;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
            border-left: 2px solid #fff; /* 좌측 하이라이트 */
            border-bottom: 3px solid #777777; /* 하단 그림자 */
            border-right: 3px solid #777; /* 우측 그림자 */
        font-size: 16px;
        color: #fff;
        /*height: 275px*/
        line-height: 1.8; /* 가독성을 위한 줄 간격 */
    }
 

     




    
    .cursor, .cursor-outline {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%); /* 중심으로 이동 */
        
    }
    
    
    .cursor {
        width: 14px;
        height: 14px;
        background-color: white;
        z-index: 3;
    }
    
    .cursor-outline {
        width: 50px;
        height: 50px;
        z-index: 2;
        border: 2px dashed rgba(255, 255, 255, 0.7);
        transition: border-style 1s ease; /* 애니메이션 추가 */    
    }
    .cursor-outline.hover {
        border-style: solid;
    }
    
    .cursor-expand {
        animation: shrinkFade 0.05s forwards; /* 애니메이션 지속 시간과 상태 유지 */
    }


#logo {
    position: absolute;
    top: 30px;
    left: 40px;
    position: absolute;
    cursor: pointer;
    font-size: 28px;
    font-family: 'Noto Sans', Arial, sans-serif;
    color: #ffffff;
    z-index: 10;
    font-weight: 900; /*타이틀*/
    }
    #logoImage {
        width: 240px; /* 원하는 로고 이미지의 너비 */
        height: auto; /* 높이를 비율에 맞게 자동 조정 */
    }
#title{
    font-weight: 400;
     flex-direction: column;
        position: absolute;
        bottom: 60px;
        left: 40px;
        z-index: 10;
        width: 300px;
        
}/* aboutButton 초기 상태 */
#aboutButton {
    font-weight: 400 !important;
    all: unset; /* 브라우저 기본 스타일 제거 */
    box-sizing: border-box; /* 크기 계산을 일관되게 */
    width: 220px;
    height: 45px;
    font-size: 16px;
    font-family: 'Noto Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    bottom: 50px;
    padding: 8px;
    background-color: initial;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 3px solid #777777;
    border-right: 3px solid #777;
    position: absolute;
    cursor: pointer;
    z-index: 15;
}

/* 올라가는 상태 */
#aboutButton.up {
    bottom: 310px; /* 원하는 위치로 이동 */
}
#aboutButton.active {
    background-color: #ffffff; /* 호버 시 배경색 */
            color: #000000; /* 호버 시 글자색 */
}
#aboutSub {
    position: absolute;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.7;
    font-family: 'Noto Sans', Arial, sans-serif;
    display: none;
    background-color: #ffffff17;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #777777;
    border-right: 2px solid #777;
    width: 200px;
    height: 250px;
    padding: 8px;
    z-index: 10;
}
#aboutButton:hover {
    background-color: #ffffff; /* 호버 시 배경색 */
    color: #000000; /* 호버 시 글자색 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환 */

}
/* aboutSub가 나타나는 상태 */
#aboutSub.show {
    bottom: 45px; /* 최종 위치 */
    opacity: 1;
    display: block;
}


#spotifyButton {
    font-weight: 400 !important;
            font-size: 16px;
            position: absolute;
                    cursor: pointer;
            bottom: 0px;
            color: #ffffff;
            background-color: initial;
            border-top: 2px solid #fff; /* 상단 하이라이트 */
                border-left: 2px solid #fff; /* 좌측 하이라이트 */
                border-bottom: 2px solid #777777; /* 하단 그림자 */
                border-right: 2px solid #777; /* 우측 그림자 */
            line-height: 1.6;
            font-family: 'Noto Sans', Arial, sans-serif;
            text-align: left; /* 텍스트 중앙 정렬 */
            width: 220px;
            height: 45px;
            
        }


#spotifyButton:hover {
    background-color: #66ff08; /* 호버 시 배경색 */
    color: #000000; /* 호버 시 글자색 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환 */

}

/* 모달 배경 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* 모달 콘텐츠 */
.modal-content {
    background-color: initial;
    color: #ffffff;
    margin: 20% auto;
    padding: 8px 8px;
    border-top: 2px solid #fff; /* 상단 하이라이트 */
    border-left: 2px solid #fff; /* 좌측 하이라이트 */
    border-bottom: 3px solid #777777; /* 하단 그림자 */
    border-right: 3px solid #777; /* 우측 그림자 */
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    justify-content: center; /* 버튼을 가운데 정렬 */
}

/* 모달 버튼 스타일 */
.modal-content button {
    margin-top: 6px;
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#confirmSpotify {
    background-color: #ffffff30;
    border-top: 1.5px solid #fff; /* 상단 하이라이트 */
    border-left: 1.5px solid #fff; /* 좌측 하이라이트 */
    border-bottom: 2px solid #777777; /* 하단 그림자 */
    border-right: 2px solid #777; /* 우측 그림자 */
    color: #ffffff;
}


#cancelSpotify {
    background-color: #ffffff30;
    border-top: 1.5px solid #fff; /* 상단 하이라이트 */
    border-left: 1.5px solid #fff; /* 좌측 하이라이트 */
    border-bottom: 2px solid #777777; /* 하단 그림자 */
    border-right: 2px solid #777; /* 우측 그림자 */
    color: #ffffff;
}


#confirmSpotify:hover {
    background-color: #66ff08 !important; /* 초록색 */
    color: #000000 !important; /* 검정색 글자 */
    transition: background-color 0.3s ease, color 0.3s ease !important;
}

/* 취소 버튼 호버 상태 */
#cancelSpotify:hover {
    background-color: #ff0000 !important; /* 빨간색 */
    color: #ffffff !important; /* 흰색 글자 */
    transition: background-color 0.3s ease, color 0.3s ease !important;
}




#playStopButton {
    position: absolute;
    bottom: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translateX(-50%); 
    padding: 10px;
    z-index: 2;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff30;
    color: rgb(197, 197, 197);
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
    cursor: pointer;
    text-align: center; /* 가로 중앙 정렬 */
    line-height: 16px; /* 버튼 높이와 동일하게 설정 */
}

#playStopButton:hover {
    background-color: #ffffff; /* 호버 시 배경색 */
    color: #000000; /* 호버 시 글자색 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환 */

}

#zoomButtons {
    position: absolute;
    bottom: 95px; /* 화면 하단 여백 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 오른쪽 정렬 */
    gap: 3px; /* 버튼 사이 여백 추가 */
}
/* aboutButton이 up 상태일 때 zoomButtons도 함께 올라가게 */
#zoomButtons.up {
    bottom: 360px; /* aboutButton의 목표 위치에 맞게 조정 */
    transition: bottom 0.5s ease; /* 부드러운 전환 효과 */
}

#zoomButtons button {
    width: 40px;
    height: 40px;
    margin: 5px 0; /* 버튼 간격 */
    font-size: 20px;
    font-weight: bold;
    background-color: initial;
    color: rgb(255, 255, 255);
    border-top: 2px solid #fff; /* 상단 하이라이트 */
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
    cursor: pointer;
    text-align: center; /* 텍스트 중앙 정렬 */
    box-sizing: border-box; /* 테두리 포함 크기 고정 */
}
#zoomButtons button:hover {
    
        background-color: #ffffff; /* 호버 시 배경색 */
        color: #000000; /* 호버 시 글자색 */
        transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환 */
    
}

    #resetModal {
        position: absolute;
        display: none; /* 기본적으로 숨김 */
        width: 42px; /* 크기 고정 */
        height: 16px; /* 내용에 따라 높이 조정 */
        font-family: Arial, sans-serif;
        line-height: 1.4;
        z-index: 9999; /* 항상 위에 표시 */
        padding: 10px;
        color: #fff;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
        font-size: 14px;
        pointer-events: none; /* 모달과의 상호작용 방지 */
        text-align: left; /* 텍스트 정렬 */
    }

    /* 이동 버튼 호버 상태 */
